<div class="container">
  <div class="table-row" style="font-weight: bold; background-color: #d2d5d8;">
    <div style="width: 50px; padding-left: 10px;">Id</div>
    <div style="flex: 1">Info</div>
    <div style="width: 200px; padding-left: 10px;">Thumbnail</div>
  </div>

  <div class="table-row" *ngFor="let photo of photos">
    <div style="width: 50px; padding-left: 10px;">{{ photo.id }}</div>
    <div style="flex: 1">
      <div style="margin-bottom: 10px;">Title: {{ photo.title }}</div>
      <div>URL: {{ photo.url }}</div>
    </div>
    <div style="width: 200px; padding-left: 10px;">
      <div><img [src]="photo.thumbnailUrl" alt="photo.url" /></div>
    </div>
  </div>
</div>