<div class="container">
  <div style="display: flex;gap: 30px; align-items: top">
    <div style="padding: 16px">
      <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
        <img
          src="assets/Developer.png"
          style="width: 200px; height: 200px"
        />
      </div>
    </div>
    <div style="flex: 1; color: black">
      <span style="font-size: 24px; font-weight: bold;">Summary</span>
      <p style="font-size: 20px;">A software engineer and architect with over 15 years of professional expertise solving challenging business problems.
      </p>
      <ul style="line-height: 180%; font-size: 18px;">
        <li>Experienced in a variety of industries such as ecommerce, education, automation, banking, and oil and gas.</li>
        <li>Highly proficient in developing windows and web front-end/back-end applications.</li>
        <li>Full stack engineer skilled with React, Angular, TypeScript/JavaScript, HTML/CSS, C#, ASP.NET Core, and SQL Server.</li>
        <li>Excellent at developing single page web applications with user friendly UI/UX. </li>
        <li>Highly analytical with superb time management, collaboration, and problem-solving skills working on large scale projects from conception to completion. 
      </li>
      </ul>
    </div>
  </div>
</div>


<div style="background-color: #e2e5e8;">
  <div class="container">
    <div style="display: flex;gap: 30px; align-items: top">
      <div style="padding: 16px">
        <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
          <img
            src="assets/skills.png"
            style="width: 200px; height: 200px"
          />
        </div>
      </div>
      <div style="flex: 1; color: black">
        <span style="font-size: 24px; font-weight: bold;">Skills</span>
        <div class="flexContainer">
          <ul style="line-height: 180%; font-size: 18px;">
            <li>.Net Framework, C++, C#, LINQ, ASP.NET</li>
            <li>React, Redux, Angular</li>
            <li>Net Core, MVC, Web API, Restful</li>
            <li>HTML5, CSS, XML</li>
            <li>.NET Windows Forms</li>
            <li>Windows Presentation Foundation (WPF), MVVM</li>
          </ul>
          <ul style="line-height: 180%; font-size: 18px;">
            <li>JavaScript, ES 6, JSON, jQuery, jQuery UI</li>
            <li>Bootstrap, Telerik Kendo UI, Material UI</li>
            <li>SQL Server, Entity Framework</li>
            <li>3D, DirectX, OpenGL, WebGL</li>
            <li>Visual Studio, Visual Studio Code</li>
            <li>Git</li>
          </ul>
        </div>
  
      </div>
    </div>
  </div>
</div>

